/* css grid lay out */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #fffacd;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
#header a{
	text-decoration:none;color:#ffa500;text-shadow:3px 3px 10px #8BC34A;

}
#footer a{
	text-decoration:none;
}
/* Display list items side by side */
#breadcrumb li {
    display: inline;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 90%;
  background-color: #ccc;
  margin:auto;
  border:2px solid #ff4500;
}
/* ====================== Restaurant Details ====================== */

 #restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
 #restaurant-img {
	width: 90%;
}
 #restaurant-address {
  font-size: 18pt;
 /* margin: 10px 0px; */
}
 #restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
 #restaurant-container{
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width:90%;
  display:block;
  margin:auto;
}
 #reviews-container {
  padding: 30px 40px 80px;
  width: 90%;
  margin:auto;
}
 #reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
 #reviews-list {
   width:90%;
   margin:auto;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 30px 30px;
  position: relative;
  width:90%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours{
  margin:auto;
}
 #restaurant-hours td {
  color: #666;
  text-align:left;
}
